head
  link(rel="stylesheet", href="/css/profile.css")
  script(src="/js/profile.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
    type="text/javascript")

  include ./commonPart.pug
body(onload="main()") 
  div#content-box()
    div#profile-icon
      img#profile-pic(src=image_url, alt="")
    div#user-panel
      div#user-info
        h2#profile-name= profile
        p#profile-id @#{id}
        p#joined-at Joined: #{joinedAt}
        p 
          span Following: 
          span#following-count #{followingCount}
          span  &nbsp&nbsp Followers: 
          span#follower-count #{followersCount}
      div#user-options
        input(type="button", value=userOption onclick="userOptions(this)")
    div#option-bar
      h3 Tweets
    div#tweets(name=id)
  #right-side-bar
