head
  link(rel="stylesheet", href="/css/profile.css")
  script(src="/js/profile.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
    type="text/javascript")

  include commonPart.pug
  include mixins/rightSide.pug

body(onload="main()") 
  div#content-box()
    div#profile-icon
      img(src=image_url, alt="")
    div#user-panel
      div#user-info
        p
          span#profile-name= profile 
          span &nbsp 
          span#profile-id @#{id}
        if bio !== '' 
          p #{bio}
        p#joined-at Joined: #{joinedAt}
        p 
          span(class="follow-tags" onclick=`showFollowList('following', '${id}')`) Following: 
          span#following-count #{followingCount}
          span(class="follow-tags" onclick=`showFollowList('follower', '${id}')`)  &nbsp&nbsp Followers: 
          span#follower-count #{followersCount}
      div#user-options
        input(type="button", value=userOption onclick="userOptions(this);")
    div#option-bar
      #user-tweets.indicator(onclick="showUserActivities('tweets')")
        .nav Tweets 
      #user-retweets(onclick="showUserActivities('retweets')")
        .nav Retweets
      #user-likes(onclick="showUserActivities('likes')")
        .nav Likes 
    div#tweets.show(name=id)
  .popup#editor.hide
    #edit-panel
      #editor-header
        #close(onclick="hide('editor')") X
        h3#heading Edit Profile
        button#save-button(onclick="updateProfile()") Save
      #user-profile
        img(src=image_url, alt="N/A")
      .edit-details
        span Name
        textarea#name(name="name", cols="30", rows="10")
      .edit-details
        span Your Bio
        textarea#bio(name="bio", cols="28", rows="10")
+rightSide
